/* set parallax height */

.parallax-container {
    height: 500px;
}

.stick-bar {
    z-index: 1;
}


/* set push-pin parameters */
.pin-top {
    position: relative;
}

.pin-bottom {
    position: relative;
}

.pinned {
    position: fixed !important;
}


/* style */

.wide-container {
    margin-right: 2%;
    margin-left: 2%;
}

/* #header {
    z-index: 1;
} */

#activity-side {
    margin-right: 5%;
    padding: 20px 10px 10px 10px;
}

/* #main-section {
    padding: 40px 0px 0px 80px;
} */

/* MAPS */
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }

  body{
    background-color: white;
 }
 .parallax-container{
    height: 330px;
    
 }
 nav{
    background: linear-gradient(to bottom right, rgb(226, 62, 33), purple);
 
 }
 .divider{
    height: 2px;
    background: linear-gradient(to bottom right, rgb(226, 62, 33), purple);
 }
 #profile-pic{
    position: absolute;
    margin-top: -10%;
    margin-left: 5%;
    width: 15%;
    z-index: 1;
   
 }
 #image-box{
    border-radius: 10%;  
 }
 #bio{
    height: auto;
    margin-top: 7%;
    margin-bottom: 7%;
 }
 #about-me-edit{
    float: right;
 }
 #box{
    margin-top: 5%;
    margin-bottom: 5%;
 }
 .modal-content{
    height: 300px;
 }
 .page-footer{
    background: linear-gradient(to bottom right, rgb(226, 62, 33), purple);
    margin-bottom: 0%;
 }