
    <div class="parallax-container">
        <div class="parallax">
            <img src="assets/images/hike2.jpg">
        </div>
    </div>
    <!-- Navigation Bar -->
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="/" class="btn-floating btn-large halfway-fab waves-effect waves-light red">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                </ul>
            </ul>
        </div>
    </nav>
<!-- Profile Picture -->
    <div id="profile-pic">
        <img class="responsive-img" id="image-box" src="{{user.picture}}">
        <h4 class="flow-text">
            <b>Name</b>
            <p>{{user.name}}</p>
            <div class="divider"></div>
            <br>
            <br>
            <b>Username</b>
            <p>{{user.username}}</p>
            <div class="divider"></div>
        </h4>
    </div>
    <!-- About me card -->
    <div class="container">
        <div class="row" id="bio">
            <div class="row">
                <div class="z-depth-5">
                    <div class="col s9 offset-s3">
                        <div class="card-panel">
                            <h5>
                                <b>About Me</b>
                                <!-- About Me Model Start -->
                                <!-- Modal Trigger -->
                                <a class="waves-effect waves-light btn modal-trigger red" href="#modal1" id="about-me-edit">Edit</a>
                                <!-- Modal Structure -->
                                <div id="modal1" class="modal">
                                    <div class="modal-content">
                                        <form class="col s12">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                                    <label for="textarea1">About Me Edit</label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Update</a>
                                    </div>
                                </div>
                            </h5>
                            <!-- About Me Model End -->
                            <br>
                            <br>
                            <!-- About Me Card Content -->
                            <span class="black-text">
                                {{user.about}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <!-- Status Modal Container -->
    <div class="container" id="box">
        <!--Status Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger red" href="#modal2">Status Update</a>
        <!-- Status Modal Structure -->
        <div id="modal2" class="modal">
            <div class="modal-content">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">What is on your mind?</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a class="waves-effect waves-light btn red">
                    <i class="material-icons right">create</i>Post</a>
            </div>
        </div>
    </div>
    <!-- StatusModal Container End -->
    <!-- Status Content within Card -->
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="z-depth-5">
                    <div class="card-panel">
                        <span class="black-text">I am a very simple card. I am good at containing small bits of information. I am convenient because
                            I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of status content -->
    <!-- Page Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Social Media</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 1</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 2</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 3</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
